body {
    display: flex;
    margin: 0;
}

.bg-img {
    display: flex;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 70vw;
}

.transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color: white;
    height: 20%;
    position: relative;
    top: 150px;
}

.credits {
    text-align: center;
    color: whitesmoke;
    font-size: 0.8rem;
    margin-bottom: 10px;
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

.top {
    background-color: rgb(242, 242, 242);
    padding: 0px 250px 0px 50px;
    font-size: 20px;
    height: 30vh;
}

p {
    position: relative;
    top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 250px 0px 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 10px;
    gap: 30px;
    margin-bottom: 30px;
    height: 29.5vh;
}

.form-title {
    font-size: 20px;
}   

.form-row {
    display: flex;
    gap: 50px;
}

.row-item {
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid #E5E7EB;
}

input:focus {
    border: 2px solid lightblue;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(242, 242, 242);
    font-size: 12px;
    padding: 30px 250px 0px 50px;
    height: 30vh;
}

button {
    background-color: #596D48;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 30%;
    font-weight: 800;
    border: 2px solid #596D48;
    cursor: pointer;
}

.login {
    text-decoration: none;
    color: darkgreen;
}